@import "../../globals/global.module.css";
.headerModal {
    border-bottom: 6px var(--primary-color) !important;
    color: #1d2129 !important;
    background-color: white !important;
}
.icon {
    color: var(--primary-color);
}