.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
}


.tableHead th {
    font-weight: bold !important;
    color: white !important;
    background: #178091 0% 0% no-repeat padding-box !important;
    text-align: center !important;
}
